
@{
    ViewBag.Title = "Photo by genre";
}

<header class="my_header">
    <div class="my_container">
        <div class="header_inner">
            <img class="header_logo" src="~/Content/source/logo.png">
            <nav class="my_nav">
                <a class="nav_link" href="#">Home</a>
                <a class="nav_link" href="#nav_catalog">Catalog</a>
                <a class="nav_link" href="#">Search</a>
            </nav>
            <!--end nav-->
        </div>
        <!--end header inner-->
    </div>
    <!--my_container-->
</header>

<footer class="my_footer">
    <div class="my_container">
        <div class="footer_inner">
            <div class="copyright"> &copy 2021 by Marie Levchuk </div>
            <div class="copyright">
                marie.levchuk@gmail.com
                <br />+375 (xx) xxx-xx-xx
            </div>
        </div>
    </div>
    <!--my_container-->
</footer>
