
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="my_header_genre_page" style="height: 100px;">
    <div class="my_container">
        <div class="header_inner_genre_page">
            <img class="header_logo" src="~/Content/source/logo.png">
            <nav class="my_nav"> <a class="nav_link" href="/Home/Index">Home</a> <a class="nav_link" href="/Home/Index">Catalog</a> </nav>
            <!--end nav-->
            <div class="my_title">
                <h1>crud genre</h1>
            </div>
        </div>
        <!--end header inner-->
    </div>
    <!--my_container-->
</header>
<div class="genreinfo">
    <div class="my_container">
        <div class="genreinfo_inner">
            <h3>Genre</h3>
            <input class="genre_input" type="text" value="genre">
            <br />
            <div class="crud_buttons_block">
                <input class="crud_button" type="button" value="create">
                <input class="crud_button" type="button" value="update">
                <input class="crud_button" type="button" value="delete">
            </div>
        </div>
    </div>
